{% extends 'anratmain/menu_bar.html'%}
{% load static %}

{% block breadcrumbs %}
<!-- Теги -->
{% with post.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
    <li>Теги:</li>
    {% for t in tags %}
    <li><a href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block assortiment_category %}
<h1>{{ post.title }}</h1>

{% if post.photo %}
<p><img class="img-article-left" src="{{ post.photo }}"></p>
{% endif %}
<p class="item-description">
    {{ post.content|linebreaks }}
</p>
{% endblock %}